<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    
    <a class="avatar position-relative" href="#">
      <img src="https://scontent.fsti4-2.fna.fbcdn.net/v/t39.30808-6/341551179_3482462938706127_1322742114417363065_n.jpg?stp=dst-jpg_s960x960&_nc_cat=102&ccb=1-7&_nc_sid=783fdb&_nc_eui2=AeEyL9NOeEsh5_IcPdzCYIZDFFRKDeyvbAkUVEoN7K9sCdi8sMjzBXxg6u6c7OzzJ7FzyeWF8ysT8ZoOT6HWPQu8&_nc_ohc=YbZAwLwvWMQAX8-0P3j&_nc_ht=scontent.fsti4-2.fna&oh=00_AfCvF0JlyQI4x_3zB67IlyusJlXCqAOPOM1-4Qcl95lwnQ&oe=65ADB7D6" alt="">
      <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
      </span>
    </a>

    <form class="d-flex" role="search">
      <input class="form-control" type="search" placeholder="BTC/DOP" aria-label="Search">
    </form>

    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <button class="btn"><i class="bi bi-upc-scan"></i></button>
      </li>
      <li class="nav-item">
        <button class="btn"><i class="bi bi-headset"></i></button>
      </li>
      <li class="nav-item">
        <button class="btn"><i class="bi bi-bell-fill"></i></button>
      </li>
    </ul>

  </div>
</nav>