<%- include('./includes/head') %>

  <%- include('./includes/navigation') %>

  <div class="container">

    <!-- NUEVOS USUARIOS -->
    <div class="row">
      <div class="col-12 mt-5 text-center">
        <h3>Nuevos usuarios</h3>
        <p>Registrate y gana <span id="registro-bono">100 DOP!</span></p>
        <button 
          class="btn btn-secondary rounded-pill"
          onclick="location.href = '/auth/login'"
        >
          Iniciar sesion/Registrarse
        </button>
      </div>
    </div>
    <!-- FIN -->

  </div>



<%- include('./includes/scripts') %>
  
  
  
 